<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    	<link rel="stylesheet" type="text/css" href="report.css">
    	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <title>SAT Diagnostic Results</title>
    </head>
    <body>
        
    <div id="workScreen" class="container">
        
        <div id="titleDiv">
            <span id="titleText">SAT Score Report</span>
            <img id="logoTop" src="crimson.png"></img>
        </div>
    
    <h1>Score: <%=data.overallScores.score.score%></h1>
                
    <div class="row">
        <div class="col-md-3">
            <h3>English: <%=data.overallScores.score.ENGLISH%></h3>
            <h4 class="tab">Reading: <%=data.overallScores.score.READING%></h4>
            <h4 class="tab">Writing: <%=data.overallScores.score.WRITING%></h4>
        </div>
        <div class="col-md-3">
            <h3>Math: <%=data.overallScores.score.MATH%></h3>
        </div>
    </div>
    
        <div class="row">
            <hr>
            <h3>Overall Scores</h3>

            <table class="table table-striped" id="overall">
                <tr>
                    <th>Section</th>
                    <th>Total</th>
                    <th>Correct</th>
                    <th>Wrong</th>
                    <th>Percent Correct</th>
                </tr>
                <tr>
                    <td>Reading</td>
                    <td><%=data.overallScores.table.READING.total%></td>
                    <td><%=data.overallScores.table.READING.correct%></td>
                    <td><%=data.overallScores.table.READING.wrong%></td>
                    <td><%=data.overallScores.table.READING.percentCorrect%>%</td>
                </tr>
                <tr>
                    <td>Writing</td>
                    <td><%=data.overallScores.table.WRITING.total%></td>
                    <td><%=data.overallScores.table.WRITING.correct%></td>
                    <td><%=data.overallScores.table.WRITING.wrong%></td>
                    <td><%=data.overallScores.table.WRITING.percentCorrect%>%</td>
                </tr>
                <tr>
                    <td>Math-NC</td>
                    <td><%=data.overallScores.table.MATHNC.total%></td>
                    <td><%=data.overallScores.table.MATHNC.correct%></td>
                    <td><%=data.overallScores.table.MATHNC.wrong%></td>
                    <td><%=data.overallScores.table.MATHNC.percentCorrect%>%</td>
                </tr>
                
                <tr>
                    <td>Math-WC</td>
                    <td><%=data.overallScores.table.MATHWC.total%></td>
                    <td><%=data.overallScores.table.MATHWC.correct%></td>
                    <td><%=data.overallScores.table.MATHWC.wrong%></td>
                    <td><%=data.overallScores.table.MATHWC.percentCorrect%>%</td>
                </tr>
                
            </table>
        </div>
        <hr>
        
        <div id="reading" class="row">
        
            <h3>Reading Scores</h3>
            <p>
                Score: <%=data.readingScores.score.score%>
            </p>
            <p>
                Raw Score: <%=data.readingScores.score.rawScore%>
            </p>
            <p>
                National Percentile: <%=data.readingScores.score.nationalPercentile%>%
            </p>
            
            <div class="col-md-6">
                 <div class="emptyRow"></div>
                 <table class="table table-striped">
                    
                    <tr>
                        <th>Skill Category</th>
                        <th>Total</th>
                        <th>Correct</th>
                        <th>Wrong</th>
                        <th>Percent Correct</th>
                    </tr>
                    
                    <tr>
                        <td>Comprehension</td>
                        <td><%=data.readingScores.tableSkill.COMPREHENSION.total%></td>
                        <td><%=data.readingScores.tableSkill.COMPREHENSION.correct%></td>
                        <td><%=data.readingScores.tableSkill.COMPREHENSION.wrong%></td>
                        <td><%=data.readingScores.tableSkill.COMPREHENSION.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Big Picture</td>
                        <td><%=data.readingScores.tableSkill.BIG_PICTURE.total%></td>
                        <td><%=data.readingScores.tableSkill.BIG_PICTURE.correct%></td>
                        <td><%=data.readingScores.tableSkill.BIG_PICTURE.wrong%></td>
                        <td><%=data.readingScores.tableSkill.BIG_PICTURE.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Intent/Purpose</td>
                        <td><%=data.readingScores.tableSkill.INTENT_PURPOSE.total%></td>
                        <td><%=data.readingScores.tableSkill.INTENT_PURPOSE.correct%></td>
                        <td><%=data.readingScores.tableSkill.INTENT_PURPOSE.wrong%></td>
                        <td><%=data.readingScores.tableSkill.INTENT_PURPOSE.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Relationships</td>
                        <td><%=data.readingScores.tableSkill.RELATIONSHIPS.total%></td>
                        <td><%=data.readingScores.tableSkill.RELATIONSHIPS.correct%></td>
                        <td><%=data.readingScores.tableSkill.RELATIONSHIPS.wrong%></td>
                        <td><%=data.readingScores.tableSkill.RELATIONSHIPS.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Use of Evidence</td>
                        <td><%=data.readingScores.tableSkill.USE_OF_EVIDENCE.total%></td>
                        <td><%=data.readingScores.tableSkill.USE_OF_EVIDENCE.correct%></td>
                        <td><%=data.readingScores.tableSkill.USE_OF_EVIDENCE.wrong%></td>
                        <td><%=data.readingScores.tableSkill.USE_OF_EVIDENCE.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Vocabulary</td>
                        <td><%=data.readingScores.tableSkill.VOCABULARY.total%></td>
                        <td><%=data.readingScores.tableSkill.VOCABULARY.correct%></td>
                        <td><%=data.readingScores.tableSkill.VOCABULARY.wrong%></td>
                        <td><%=data.readingScores.tableSkill.VOCABULARY.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Dual Passages</td>
                        <td><%=data.readingScores.tableSkill.DUAL_PASSAGES.total%></td>
                        <td><%=data.readingScores.tableSkill.DUAL_PASSAGES.correct%></td>
                        <td><%=data.readingScores.tableSkill.DUAL_PASSAGES.wrong%></td>
                        <td><%=data.readingScores.tableSkill.DUAL_PASSAGES.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Literacy</td>
                        <td><%=data.readingScores.tableSkill.LITERACY.total%></td>
                        <td><%=data.readingScores.tableSkill.LITERACY.correct%></td>
                        <td><%=data.readingScores.tableSkill.LITERACY.wrong%></td>
                        <td><%=data.readingScores.tableSkill.LITERACY.percentCorrect%>%</td>
                    </tr>
                    
                </table>
            </div>

            <div class="col-md-6">
                 <div class="emptyRow"></div>
                <table class="table table-striped" >
                    
                    <tr>
                        <th>Question Type</th>
                        <th>Total</th>
                        <th>Correct</th>
                        <th>Wrong</th>
                        <th>Percent Correct</th>
                    </tr>
                    
                    <tr>
                        <td>Command of Evidence</td>
                        <td><%=data.readingScores.tableQuestionType.COMMAND_OF_EVIDENCE.total%></td>
                        <td><%=data.readingScores.tableQuestionType.COMMAND_OF_EVIDENCE.correct%></td>
                        <td><%=data.readingScores.tableQuestionType.COMMAND_OF_EVIDENCE.wrong%></td>
                        <td><%=data.readingScores.tableQuestionType.COMMAND_OF_EVIDENCE.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>General Question</td>
                        <td><%=data.readingScores.tableQuestionType.GENERAL_QUESTION.total%></td>
                        <td><%=data.readingScores.tableQuestionType.GENERAL_QUESTION.correct%></td>
                        <td><%=data.readingScores.tableQuestionType.GENERAL_QUESTION.wrong%></td>
                        <td><%=data.readingScores.tableQuestionType.GENERAL_QUESTION.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Ideas</td>
                        <td><%=data.readingScores.tableQuestionType.IDEAS.total%></td>
                        <td><%=data.readingScores.tableQuestionType.IDEAS.correct%></td>
                        <td><%=data.readingScores.tableQuestionType.IDEAS.wrong%></td>
                        <td><%=data.readingScores.tableQuestionType.IDEAS.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Imply/Infer/Suggest</td>
                        <td><%=data.readingScores.tableQuestionType.IMPLY_INFER_SUGGEST.total%></td>
                        <td><%=data.readingScores.tableQuestionType.IMPLY_INFER_SUGGEST.correct%></td>
                        <td><%=data.readingScores.tableQuestionType.IMPLY_INFER_SUGGEST.wrong%></td>
                        <td><%=data.readingScores.tableQuestionType.IMPLY_INFER_SUGGEST.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Rhetoric</td>
                        <td><%=data.readingScores.tableQuestionType.RHETORIC.total%></td>
                        <td><%=data.readingScores.tableQuestionType.RHETORIC.correct%></td>
                        <td><%=data.readingScores.tableQuestionType.RHETORIC.wrong%></td>
                        <td><%=data.readingScores.tableQuestionType.RHETORIC.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Specific Detail</td>
                        <td><%=data.readingScores.tableQuestionType.SPECIFIC_DETAIL.total%></td>
                        <td><%=data.readingScores.tableQuestionType.SPECIFIC_DETAIL.correct%></td>
                        <td><%=data.readingScores.tableQuestionType.SPECIFIC_DETAIL.wrong%></td>
                        <td><%=data.readingScores.tableQuestionType.SPECIFIC_DETAIL.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Words in Context</td>
                        <td><%=data.readingScores.tableQuestionType.WORDS_IN_CONTEXT.total%></td>
                        <td><%=data.readingScores.tableQuestionType.WORDS_IN_CONTEXT.correct%></td>
                        <td><%=data.readingScores.tableQuestionType.WORDS_IN_CONTEXT.wrong%></td>
                        <td><%=data.readingScores.tableQuestionType.WORDS_IN_CONTEXT.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Charts and Graphs</td>
                        <td><%=data.readingScores.tableQuestionType.CHARTS_AND_GRAPHS.total%></td>
                        <td><%=data.readingScores.tableQuestionType.CHARTS_AND_GRAPHS.correct%></td>
                        <td><%=data.readingScores.tableQuestionType.CHARTS_AND_GRAPHS.wrong%></td>
                        <td><%=data.readingScores.tableQuestionType.CHARTS_AND_GRAPHS.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Dual Passages</td>
                        <td><%=data.readingScores.tableQuestionType.DUAL_PASSAGES.total%></td>
                        <td><%=data.readingScores.tableQuestionType.DUAL_PASSAGES.correct%></td>
                        <td><%=data.readingScores.tableQuestionType.DUAL_PASSAGES.wrong%></td>
                        <td><%=data.readingScores.tableQuestionType.DUAL_PASSAGES.percentCorrect%>%</td>
                    </tr>
            </table>
        </div>
   
        
        <div class="row">
            
            <div class="col-md-6">
                 <div class="emptyRow"></div>
                <div class="containerbar horizontal flat barchart">
                  <div class="row bar-row">
                      
                          <div class="col-md-3">Comprehension</div>
                          <div class="col-md-9" class="progress-bar horizontal">
                            <div class="progress-track">
                              <div class="progress-fill">
                                <span><%=data.readingScores.tableSkill.COMPREHENSION.percentCorrect%>%</span>
                              </div>
                            </div>
                          </div>
                  </div>
                
                     <div class="row bar-row">
                      
                          <div class="col-md-3">Big Picture</div>
                          <div class="col-md-9" class="progress-bar horizontal">
                            <div class="progress-track">
                              <div class="progress-fill">
                                <span><%=data.readingScores.tableSkill.BIG_PICTURE.percentCorrect%>%</span>
                              </div>
                            </div>
                          </div>
                  </div>
                
                     <div class="row bar-row">
                      
                          <div class="col-md-3">Intent/Purpose</div>
                          <div class="col-md-9" class="progress-bar horizontal">
                            <div class="progress-track">
                              <div class="progress-fill">
                                <span><%=data.readingScores.tableSkill.INTENT_PURPOSE.percentCorrect%>%</span>
                              </div>
                            </div>
                          </div>
                  </div>
                
                     <div class="row bar-row">
                      
                          <div class="col-md-3">Relationships</div>
                          <div class="col-md-9" class="progress-bar horizontal">
                            <div class="progress-track">
                              <div class="progress-fill">
                                <span><%=data.readingScores.tableSkill.RELATIONSHIPS.percentCorrect%>%</span>
                              </div>
                            </div>
                          </div>
                  </div>
                
                     <div class="row bar-row">
                      
                          <div class="col-md-3">Use of Evidence
                          </div>
                          <div class="col-md-9" class="progress-bar horizontal">
                            <div class="progress-track">
                              <div class="progress-fill">
                                <span><%=data.readingScores.tableSkill.USE_OF_EVIDENCE.percentCorrect%>%</span>
                              </div>
                            </div>
                          </div>
                  </div>
                
                     <div class="row bar-row">
                      
                          <div class="col-md-3">Vocabulary</div>
                          <div class="col-md-9" class="progress-bar horizontal">
                            <div class="progress-track">
                              <div class="progress-fill">
                                <span><%=data.readingScores.tableSkill.VOCABULARY.percentCorrect%>%</span>
                              </div>
                            </div>
                          </div>
                  </div>
                  
                   <div class="row bar-row">
                      
                          <div class="col-md-3">Dual Passages
                          </div>
                          <div class="col-md-9" class="progress-bar horizontal">
                            <div class="progress-track">
                              <div class="progress-fill">
                                <span><%=data.readingScores.tableSkill.DUAL_PASSAGES.percentCorrect%>%</span>
                              </div>
                            </div>
                          </div>
                  </div>
                  
                   <div class="row bar-row">
                      
                          <div class="col-md-3">Literacy
                          </div>
                          <div class="col-md-9" class="progress-bar horizontal">
                            <div class="progress-track">
                              <div class="progress-fill">
                                <span><%=data.readingScores.tableSkill.LITERACY.percentCorrect%>%</span>
                              </div>
                            </div>
                          </div>
                  </div>
                </div>

            </div>
            <div class="col-md-6 skills">
                 <div class="emptyRow"></div>
                <h4>Key Areas of Skill Improvement:</h4>
                <p>
                   1) <%=data.readingScores.text.skills.a1%>
                </p>
                <p>
                   2) <%=data.readingScores.text.skills.a2%>
                </p>
                <p>
                   3) <%=data.readingScores.text.skills.a3%>
                </p>
                
                <h4>Key Question Types to Practice:</h4>
                 <p>
                   1) <%=data.readingScores.text.questionType.a1%>
                </p>
                <p>
                   2) <%=data.readingScores.text.questionType.a2%>
                </p>
                <p>
                   3) <%=data.readingScores.text.questionType.a3%>
                </p>
            </div>
        </div>

        </div>
        
        <hr>
        <div id="writing" class = "row">

            <h3>Writing Scores</h3>
            
            <p>
                Score: <%=data.writingScores.score.score%>
            </p>
            <p>
                Raw Score: <%=data.writingScores.score.rawScore%>
            </p>
            <p>
                National Percentile: <%=data.writingScores.score.nationalPercentile%>%
            </p>
            
            <div class="col-md-6">
                 <div class="emptyRow"></div>
                <table class="table table-striped">
                    <tr>
                        <th>Skill Category</th>
                        <th>Total</th>
                        <th>Correct</th>
                        <th>Wrong</th>
                        <th>Percent Correct</th>
                    </tr>
                    
                    <tr>
                        <td>Mechanics: Effective Use of Language</td>
                        <td><%=data.writingScores.tableSkill.MECHANICS_EFFECTIVE_USE_OF_LANGUAGE.total%></td>
                        <td><%=data.writingScores.tableSkill.MECHANICS_EFFECTIVE_USE_OF_LANGUAGE.correct%></td>
                        <td><%=data.writingScores.tableSkill.MECHANICS_EFFECTIVE_USE_OF_LANGUAGE.wrong%></td>
                        <td><%=data.writingScores.tableSkill.MECHANICS_EFFECTIVE_USE_OF_LANGUAGE.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Mechanics: Grammar & Punctuation</td>
                        <td><%=data.writingScores.tableSkill.MECHANICS_GRAMMAR_PUNCTUATION.total%></td>
                        <td><%=data.writingScores.tableSkill.MECHANICS_GRAMMAR_PUNCTUATION.correct%></td>
                        <td><%=data.writingScores.tableSkill.MECHANICS_GRAMMAR_PUNCTUATION.wrong%></td>
                        <td><%=data.writingScores.tableSkill.MECHANICS_GRAMMAR_PUNCTUATION.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Organization</td>
                        <td><%=data.writingScores.tableSkill.ORGANIZATION.total%></td>
                        <td><%=data.writingScores.tableSkill.ORGANIZATION.correct%></td>
                        <td><%=data.writingScores.tableSkill.ORGANIZATION.wrong%></td>
                        <td><%=data.writingScores.tableSkill.ORGANIZATION.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Use of Evidence</td>
                        <td><%=data.writingScores.tableSkill.USE_OF_EVIDENCE.total%></td>
                        <td><%=data.writingScores.tableSkill.USE_OF_EVIDENCE.correct%></td>
                        <td><%=data.writingScores.tableSkill.USE_OF_EVIDENCE.wrong%></td>
                        <td><%=data.writingScores.tableSkill.USE_OF_EVIDENCE.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Comprehension</td>
                        <td><%=data.writingScores.tableSkill.COMPREHENSION.total%></td>
                        <td><%=data.writingScores.tableSkill.COMPREHENSION.correct%></td>
                        <td><%=data.writingScores.tableSkill.COMPREHENSION.wrong%></td>
                        <td><%=data.writingScores.tableSkill.COMPREHENSION.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Vocabulary</td>
                        <td><%=data.writingScores.tableSkill.VOCABULARY.total%></td>
                        <td><%=data.writingScores.tableSkill.VOCABULARY.correct%></td>
                        <td><%=data.writingScores.tableSkill.VOCABULARY.wrong%></td>
                        <td><%=data.writingScores.tableSkill.VOCABULARY.percentCorrect%>%</td>
                    </tr>
                    
                </table>               
            </div>
            
            <div class="col-md-6">
                 <div class="emptyRow"></div>
                <table class="table table-striped">
                    
                    <tr>
                        <th>Question Type</th>
                        <th>Total</th>
                        <th>Correct</th>
                        <th>Wrong</th>
                        <th>Percent Correct</th>
                    </tr>
                    
                    <tr>
                        <td>Command of Evidence</td>
                        <td><%=data.writingScores.tableQuestionType.COMMAND_OF_EVIDENCE.total%></td>
                        <td><%=data.writingScores.tableQuestionType.COMMAND_OF_EVIDENCE.correct%></td>
                        <td><%=data.writingScores.tableQuestionType.COMMAND_OF_EVIDENCE.wrong%></td>
                        <td><%=data.writingScores.tableQuestionType.COMMAND_OF_EVIDENCE.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Logic & Reasoning</td>
                        <td><%=data.writingScores.tableQuestionType.LOGIC_REASONING.total%></td>
                        <td><%=data.writingScores.tableQuestionType.LOGIC_REASONING.correct%></td>
                        <td><%=data.writingScores.tableQuestionType.LOGIC_REASONING.wrong%></td>
                        <td><%=data.writingScores.tableQuestionType.LOGIC_REASONING.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Relevance</td>
                        <td><%=data.writingScores.tableQuestionType.RELEVANCE.total%></td>
                        <td><%=data.writingScores.tableQuestionType.RELEVANCE.correct%></td>
                        <td><%=data.writingScores.tableQuestionType.RELEVANCE.wrong%></td>
                        <td><%=data.writingScores.tableQuestionType.RELEVANCE.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Revision: Effective Use of Language</td>
                        <td><%=data.writingScores.tableQuestionType.REVISION_EFFECTIVE_USE_OF_LANGUAGE.total%></td>
                        <td><%=data.writingScores.tableQuestionType.REVISION_EFFECTIVE_USE_OF_LANGUAGE.correct%></td>
                        <td><%=data.writingScores.tableQuestionType.REVISION_EFFECTIVE_USE_OF_LANGUAGE.wrong%></td>
                        <td><%=data.writingScores.tableQuestionType.REVISION_EFFECTIVE_USE_OF_LANGUAGE.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Revision: Grammar & Punctuation</td>
                        <td><%=data.writingScores.tableQuestionType.REVISION_GRAMMAR_PUNCTUATION.total%></td>
                        <td><%=data.writingScores.tableQuestionType.REVISION_GRAMMAR_PUNCTUATION.correct%></td>
                        <td><%=data.writingScores.tableQuestionType.REVISION_GRAMMAR_PUNCTUATION.wrong%></td>
                        <td><%=data.writingScores.tableQuestionType.REVISION_GRAMMAR_PUNCTUATION.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Words in Context</td>
                        <td><%=data.writingScores.tableQuestionType.WORDS_IN_CONTEXT.total%></td>
                        <td><%=data.writingScores.tableQuestionType.WORDS_IN_CONTEXT.correct%></td>
                        <td><%=data.writingScores.tableQuestionType.WORDS_IN_CONTEXT.wrong%></td>
                        <td><%=data.writingScores.tableQuestionType.WORDS_IN_CONTEXT.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Introductions and Conclusions</td>
                        <td><%=data.writingScores.tableQuestionType.INTRODUCTIONS_AND_CONCLUSIONS.total%></td>
                        <td><%=data.writingScores.tableQuestionType.INTRODUCTIONS_AND_CONCLUSIONS.correct%></td>
                        <td><%=data.writingScores.tableQuestionType.INTRODUCTIONS_AND_CONCLUSIONS.wrong%></td>
                        <td><%=data.writingScores.tableQuestionType.INTRODUCTIONS_AND_CONCLUSIONS.percentCorrect%>%</td>
                    </tr>
                    
                    <tr>
                        <td>Summarizing and Paraphrasing</td>
                        <td><%=data.writingScores.tableQuestionType.SUMMARIZING_AND_PARAPHRASING.total%></td>
                        <td><%=data.writingScores.tableQuestionType.SUMMARIZING_AND_PARAPHRASING.correct%></td>
                        <td><%=data.writingScores.tableQuestionType.SUMMARIZING_AND_PARAPHRASING.wrong%></td>
                        <td><%=data.writingScores.tableQuestionType.SUMMARIZING_AND_PARAPHRASING.percentCorrect%>%</td>
                    </tr>
                    
                </table>
            </div>    
        
            <div class="row">
                
               
            <div class="col-md-6">
                 <div class="emptyRow"></div>
                <div class="containerbar horizontal flat barchart">
                
                     <div class="row bar-row">
                      
                          <div class="col-md-3">Mechanics: Effective Use of Language</div>
                          <div class="col-md-9" class="progress-bar horizontal">
                            <div class="progress-track">
                              <div class="progress-fill">
                                <span><%=data.writingScores.tableSkill.MECHANICS_EFFECTIVE_USE_OF_LANGUAGE.percentCorrect%>%</span>
                              </div>
                            </div>
                          </div>
                  </div>
                
                     <div class="row bar-row">
                      
                          <div class="col-md-3">Mechanics: Grammar & Punctuation</div>
                          <div class="col-md-9" class="progress-bar horizontal">
                            <div class="progress-track">
                              <div class="progress-fill">
                                <span><%=data.writingScores.tableSkill.MECHANICS_GRAMMAR_PUNCTUATION.percentCorrect%>%</span>
                              </div>
                            </div>
                          </div>
                  </div>
                
                     <div class="row bar-row">
                      
                          <div class="col-md-3">Organization</div>
                          <div class="col-md-9" class="progress-bar horizontal">
                            <div class="progress-track">
                              <div class="progress-fill">
                                <span><%=data.writingScores.tableSkill.ORGANIZATION.percentCorrect%>%</span>
                              </div>
                            </div>
                          </div>
                  </div>
                
                     <div class="row bar-row">
                      
                          <div class="col-md-3">Vocabulary</div>
                          <div class="col-md-9" class="progress-bar horizontal">
                            <div class="progress-track">
                              <div class="progress-fill">
                                <span><%=data.writingScores.tableSkill.VOCABULARY.percentCorrect%>%</span>
                              </div>
                            </div>
                          </div>
                  </div>
                
                     <div class="row bar-row">
                      
                          <div class="col-md-3">Comprehension</div>
                          <div class="col-md-9" class="progress-bar horizontal">
                            <div class="progress-track">
                              <div class="progress-fill">
                                <span><%=data.writingScores.tableSkill.COMPREHENSION.percentCorrect%>%</span>
                              </div>
                            </div>
                          </div>
                  </div>
                  
                  <div class="row bar-row">
                      
                          <div class="col-md-3">Use of Evidence</div>
                          <div class="col-md-9" class="progress-bar horizontal">
                            <div class="progress-track">
                              <div class="progress-fill">
                                <span><%=data.writingScores.tableSkill.USE_OF_EVIDENCE.percentCorrect%>%</span>
                              </div>
                            </div>
                          </div>
                  </div>
                </div>

            </div>
            <div class="col-md-6 skills">
                 <div class="emptyRow"></div>
                <h4>Key Areas of Skill Improvement:</h4>
                <p>
                   1) <%=data.writingScores.text.skills.a1%>
                </p>
                <p>
                   2) <%=data.writingScores.text.skills.a2%>
                </p>
                <p>
                   3) <%=data.writingScores.text.skills.a3%>
                </p>
                
                <h4>Key Question Types to Practice:</h4>
                <p>
                   1) <%=data.writingScores.text.questionType.a1%>
                </p>
                <p>
                   2) <%=data.writingScores.text.questionType.a2%>
                </p>
                <p>
                   3) <%=data.writingScores.text.questionType.a3%>
                </p>
            </div>
        </div>
            
        </div>
        <hr>
        <div id="math" class="row">
       
        <h3>Math Scores</h3>
            
            <p>
                Score: <%=data.mathScores.score.score%>
            </p>
            <p>
                Raw Score: <%=data.mathScores.score.rawScore%>
            </p>
            <p>
                National Percentile: <%=data.mathScores.score.nationalPercentile%>%
            </p>
        
        <div class="col-md-6">   
         <div class="emptyRow"></div>
            <table class="table table-striped">
                
                <tr>
                    <th>Skill Category</th>
                    <th>Total</th>
                    <th>Correct</th>
                    <th>Wrong</th>
                    <th>Percent Correct</th>
                </tr>
                
                <tr>
                    <td>Algebra</td>
                    <td><%=data.mathScores.tableSkill.ALGEBRA.total%></td>
                    <td><%=data.mathScores.tableSkill.ALGEBRA.correct%></td>
                    <td><%=data.mathScores.tableSkill.ALGEBRA.wrong%></td>
                    <td><%=data.mathScores.tableSkill.ALGEBRA.percentCorrect%>%</td>
                </tr>
                
                <tr>
                    <td>Geometry</td>
                    <td><%=data.mathScores.tableSkill.GEOMETRY.total%></td>
                    <td><%=data.mathScores.tableSkill.GEOMETRY.correct%></td>
                    <td><%=data.mathScores.tableSkill.GEOMETRY.wrong%></td>
                    <td><%=data.mathScores.tableSkill.GEOMETRY.percentCorrect%>%</td>
                </tr>
                
                <tr>
                    <td>Data Interpretation</td>
                    <td><%=data.mathScores.tableSkill.DATA_INTERPRETATION.total%></td>
                    <td><%=data.mathScores.tableSkill.DATA_INTERPRETATION.correct%></td>
                    <td><%=data.mathScores.tableSkill.DATA_INTERPRETATION.wrong%></td>
                    <td><%=data.mathScores.tableSkill.DATA_INTERPRETATION.percentCorrect%>%</td>
                </tr>
                
                <tr>
                    <td>Statistics</td>
                    <td><%=data.mathScores.tableSkill.STATISTICS.total%></td>
                    <td><%=data.mathScores.tableSkill.STATISTICS.correct%></td>
                    <td><%=data.mathScores.tableSkill.STATISTICS.wrong%></td>
                    <td><%=data.mathScores.tableSkill.STATISTICS.percentCorrect%>%</td>
                </tr>
                
                <tr>
                    <td>Understanding Equations</td>
                    <td><%=data.mathScores.tableSkill.UNDERSTANDING_EQUATIONS.total%></td>
                    <td><%=data.mathScores.tableSkill.UNDERSTANDING_EQUATIONS.correct%></td>
                    <td><%=data.mathScores.tableSkill.UNDERSTANDING_EQUATIONS.wrong%></td>
                    <td><%=data.mathScores.tableSkill.UNDERSTANDING_EQUATIONS.percentCorrect%>%</td>
                </tr>
                
                
                <tr>
                    <td>Linear Equations</td>
                    <td><%=data.mathScores.tableSkill.LINEAR_EQUATIONS.total%></td>
                    <td><%=data.mathScores.tableSkill.LINEAR_EQUATIONS.correct%></td>
                    <td><%=data.mathScores.tableSkill.LINEAR_EQUATIONS.wrong%></td>
                    <td><%=data.mathScores.tableSkill.LINEAR_EQUATIONS.percentCorrect%>%</td>
                </tr>
                
                <tr>
                    <td>Number Properties</td>
                    <td><%=data.mathScores.tableSkill.NUMBER_PROPERTIES.total%></td>
                    <td><%=data.mathScores.tableSkill.NUMBER_PROPERTIES.correct%></td>
                    <td><%=data.mathScores.tableSkill.NUMBER_PROPERTIES.wrong%></td>
                    <td><%=data.mathScores.tableSkill.NUMBER_PROPERTIES.percentCorrect%>%</td>
                </tr>
                
            </table>
        </div>
        
        <div class="col-md-6">    
         <div class="emptyRow"></div>
            <table class="table table-striped" >
                
                <tr>
                    <th>Question Type</th>
                    <th>Total</th>
                    <th>Correct</th>
                    <th>Wrong</th>
                    <th>Percent Correct</th>
                </tr>
                
                <tr>
                    <td>General Question: Single Step</td>
                    <td><%=data.mathScores.tableQuestionType.GENERAL_QUESTION_SINGLE_STEP.total%></td>
                    <td><%=data.mathScores.tableQuestionType.GENERAL_QUESTION_SINGLE_STEP.correct%></td>
                    <td><%=data.mathScores.tableQuestionType.GENERAL_QUESTION_SINGLE_STEP.wrong%></td>
                    <td><%=data.mathScores.tableQuestionType.GENERAL_QUESTION_SINGLE_STEP.percentCorrect%>%</td>
                </tr>
                
                <tr>
                    <td>General Question: Multi Step</td>
                    <td><%=data.mathScores.tableQuestionType.GENERAL_QUESTION_MULTI_STEP.total%></td>
                    <td><%=data.mathScores.tableQuestionType.GENERAL_QUESTION_MULTI_STEP.correct%></td>
                    <td><%=data.mathScores.tableQuestionType.GENERAL_QUESTION_MULTI_STEP.wrong%></td>
                    <td><%=data.mathScores.tableQuestionType.GENERAL_QUESTION_MULTI_STEP.percentCorrect%>%</td>
                </tr>
                
                <tr>
                    <td>Charts and Graphs</td>
                    <td><%=data.mathScores.tableQuestionType.CHARTS_AND_GRAPHS.total%></td>
                    <td><%=data.mathScores.tableQuestionType.CHARTS_AND_GRAPHS.correct%></td>
                    <td><%=data.mathScores.tableQuestionType.CHARTS_AND_GRAPHS.wrong%></td>
                    <td><%=data.mathScores.tableQuestionType.CHARTS_AND_GRAPHS.percentCorrect%>%</td>
                </tr>
                
                <tr>
                    <td>Word Problem</td>
                    <td><%=data.mathScores.tableQuestionType.WORD_PROBLEM.total%></td>
                    <td><%=data.mathScores.tableQuestionType.WORD_PROBLEM.correct%></td>
                    <td><%=data.mathScores.tableQuestionType.WORD_PROBLEM.wrong%></td>
                    <td><%=data.mathScores.tableQuestionType.WORD_PROBLEM.percentCorrect%>%</td>
                </tr>
                
              
                
                <tr>
                    <td>Follow the Path</td>
                    <td><%=data.mathScores.tableQuestionType.FOLLOW_THE_PATH.total%></td>
                    <td><%=data.mathScores.tableQuestionType.FOLLOW_THE_PATH.correct%></td>
                    <td><%=data.mathScores.tableQuestionType.FOLLOW_THE_PATH.wrong%></td>
                    <td><%=data.mathScores.tableQuestionType.FOLLOW_THE_PATH.percentCorrect%>%</td>
                </tr>

            </table>
        </div>
    </div>
    <div class="emptyRow"></div>
        <div class="row">
           <div class="col-md-6">
   
                <div class="containerbar horizontal flat barchart">
                  <div class="row bar-row">
                      
                          <div class="col-md-3">Algebra</div>
                          <div class="col-md-9" class="progress-bar horizontal">
                            <div class="progress-track">
                              <div class="progress-fill">
                                <span><%=data.mathScores.tableSkill.ALGEBRA.percentCorrect%>%</span>
                              </div>
                            </div>
                          </div>
                  </div>
                
                     <div class="row bar-row">
                      
                          <div class="col-md-3">Geometry</div>
                          <div class="col-md-9" class="progress-bar horizontal">
                            <div class="progress-track">
                              <div class="progress-fill">
                                <span><%=data.mathScores.tableSkill.GEOMETRY.percentCorrect%>%</span>
                              </div>
                            </div>
                          </div>
                  </div>
                
                     <div class="row bar-row">
                      
                          <div class="col-md-3">Data Interpretation</div>
                          <div class="col-md-9" class="progress-bar horizontal">
                            <div class="progress-track">
                              <div class="progress-fill">
                                <span><%=data.mathScores.tableSkill.DATA_INTERPRETATION.percentCorrect%>%</span>
                              </div>
                            </div>
                          </div>
                  </div>
                
                     <div class="row bar-row">
                      
                          <div class="col-md-3">Statistics</div>
                          <div class="col-md-9" class="progress-bar horizontal">
                            <div class="progress-track">
                              <div class="progress-fill">
                                <span><%=data.mathScores.tableSkill.STATISTICS.percentCorrect%>%</span>
                              </div>
                            </div>
                          </div>
                  </div>
                
                     <div class="row bar-row">
                      
                          <div class="col-md-3">Understanding Equations</div>
                          <div class="col-md-9" class="progress-bar horizontal">
                            <div class="progress-track">
                              <div class="progress-fill">
                                <span><%=data.mathScores.tableSkill.UNDERSTANDING_EQUATIONS.percentCorrect%>%</span>
                              </div>
                            </div>
                          </div>
                  </div>
                
                     
                  
                  <div class="row bar-row">
                      
                          <div class="col-md-3">Linear Equations</div>
                          <div class="col-md-9" class="progress-bar horizontal">
                            <div class="progress-track">
                              <div class="progress-fill">
                                <span><%=data.mathScores.tableSkill.LINEAR_EQUATIONS.percentCorrect%>%</span>
                              </div>
                            </div>
                          </div>
                  </div>
                  
                  <div class="row bar-row">
                      
                          <div class="col-md-3">Number Properties</div>
                          <div class="col-md-9" class="progress-bar horizontal">
                            <div class="progress-track">
                              <div class="progress-fill">
                                <span><%=data.mathScores.tableSkill.NUMBER_PROPERTIES.percentCorrect%>%</span>
                              </div>
                            </div>
                          </div>
                  </div>
                  
                </div>

            </div>
            
            <div class="col-md-6 skills">
                <h4>Key Areas of Skill Improvement:</h4>
                <p>
                   1) <%=data.mathScores.text.skills.a1%>
                </p>
                <p>
                   2) <%=data.mathScores.text.skills.a2%>
                </p>
                <p>
                   3) <%=data.mathScores.text.skills.a3%>
                </p>
                
                <h4>Key Question Types to Practice:</h4>
                <p>
                   1) <%=data.mathScores.text.questionType.a1%>
                </p>
                <p>
                   2) <%=data.mathScores.text.questionType.a2%>
                </p>
                <p>
                   3) <%=data.mathScores.text.questionType.a3%>
                </p>
            </div>
        </div>
        <hr>
      
        <div id="summary">
            <h3>
                Top Priorities to Focus On:
            </h3>
                <p>1. <%=data.keyPriorities.a1%></p>
                <p>2. <%=data.keyPriorities.a2%></p>
                <p>3. <%=data.keyPriorities.a3%></p>
                <p>4. <%=data.keyPriorities.a4%></p>
                
        </div>
    </div>
        <script type="text/javascript" src="barchart.js">
            // $('.horizontal .progress-fill span').each(function(){
            //   var percent = $(this).html();
            //   $(this).parent().css('width', percent);
            // });
            
            
            // $('.vertical .progress-fill span').each(function(){
            //   var percent = $(this).html();
            //   var pTop = 100 - ( percent.slice(0, percent.length - 1) ) + "%";
            //   $(this).parent().css({
            //     'height' : percent,
            //     'top' : pTop
            //   });
            // });
        </script>
    </body>
</html>
